---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -*-magic-numbers,
  -hicpp-braces-around-statements,
  -hicpp-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  -misc-non-private-member-variables-in-classes"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
